@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
  /* Set a consistent light background color for the entire page */
  background-color: #273F4F;
  /* Matches the background of your MessagePage */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.banner-text {
  font-family: 'Noto Sans Devanagari', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.banner-text-orange {
  font-family: 'Noto Sans Devanagari', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #f97316;
  /* orange-400 */
}

.font-color-orange {
  color: #DC3C22;
}

.banner-subtitle {
  font-family: 'Noto Sans Devanagari', sans-serif;
  font-weight: 600;
  font-size: 16px;
  font-style: semi-bold;
  line-height: 24px;
  text-align: center;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}

.banner-info-text {
  font-family: 'Noto Sans Devanagari', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.manifesto-score-text {
  font-family: 'Noto Sans Devanagari', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.vidhayak-info-text {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  color: #1A1B1E;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.vidhayak-info-text-subheading {
  font-family: Noto Sans Devanagari;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

.shake-effect {
  animation: shake 0.5s;
}

.candidate-profile-heading {
  font-family: Noto Sans Devanagari;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  color: #1A1B1E;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.candidate-profile-subheading {
  font-family: Noto Sans Devanagari;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  color: #6B7280;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;

}

.candidate-profile-percentage-text {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  color: #004030;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;

}

.candidate-profile-percentage-text-subheading {
  font-family: Noto Sans Devanagari;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  color: #6B7280;
  line-height: 16px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.candidate-profile-sakriya-charcha-text {
  font-family: Noto Sans Devanagari;
  font-weight: 400;
  font-style: small;
  font-size: 10px;
  color: #6B7280;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: right;
  vertical-align: middle;

}

.candidate-profile-main-heading {
  font-family: Noto Sans Devanagari;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  color: #1A1B1E;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

}

.candidate-profile-subheading-text-experience {
  font-family: Noto Sans Devanagari;
  font-weight: 400;
  font-style: Medium;
  font-size: 12px;
  color: #6B7280;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

}

.candidate-profile-subheading-text-last-election {
  font-family: Noto Sans Devanagari;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 12px;
  color: #303D50;
  line-height: 16px;
  letter-spacing: 0px;

}

.candidate-profile-vidhayak-text {
  font-family: Noto Sans Devanagari;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  color: #273F4F;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: right;
  vertical-align: middle;

}

.candidate-profile-main-heading-area-name {
  font-family: Noto Sans Devanagari;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  color: #1D2530;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;

}

.candidate-profile-subheading-text-satisfaction-percentage {
  font-family: Noto Sans Devanagari;
  font-weight: 700;
  font-style: Regular;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0px;

}

.candidate-profile-heading-text-satisfaction-percentage-verygood {
  font-family: Noto Sans Devanagari;
  font-weight: 200;
  font-style: Small;
  font-size: 6px;
  color: #6B7280;
  line-height: 12px;
  letter-spacing: 0%;
  vertical-align: middle;


}

.postsection-dropdown-text {
  font-family: Noto Sans Devanagari;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: start;
  vertical-align: middle;

}

.postsection-subheading-text {
  font-family: Noto Sans Devanagari;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 22.75px;
  letter-spacing: 0%;
  vertical-align: middle;

}

.postsection-heading-text {
  font-family: Noto Sans Devanagari;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 22.75px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

}

.postsection-dropdown-text span {
  font-family: Noto Sans Devanagari;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 22.75px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

}

.postsection-constituency-area-text {
  font-family: Noto Sans Devanagari;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #7B899D;
}

.postsection-author-name-text {
  font-family: Noto Sans Devanagari;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #1D2530
}

.postsection-author-time-text {
  font-family: Noto Sans Devanagari;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #7B899D
}

.postsection-category-text {
  font-family: Noto Sans Devanagari;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #176DCF
}

.postsection-post-content-text {
  font-family: Noto Sans Devanagari;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #1D2530
}

.postsection-tag-text {
  font-family: Noto Sans Devanagari;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #456882
}

.postsection-comment-button {
  font-family: Noto Sans Devanagari;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
}

.postsection-comment-author-name-text {
  font-family: Noto Sans Devanagari;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #1D2530
}

.postsection-comment-content-text {
  font-family: Noto Sans Devanagari;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 22.75px;
  letter-spacing: 0%;
  vertical-align: middle;

}

.postsection-comment-more-comments-button {
  font-family: Noto Sans Devanagari;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #456882;
}

.postsection-community-rule-header {
  font-family: Noto Sans Devanagari;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #456882
}

.postsection-community-rule-title {
  font-family: Noto Sans Devanagari;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  color: #1D2530;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;

}

.postsection-community-rule-description {
  font-family: Noto Sans Devanagari;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  color: #7B899D;
  line-height: 19.5px;
  letter-spacing: 0%;
  vertical-align: middle;

}

.postsection-comment-more-posts-button {
  font-family: Noto Sans Devanagari;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  color: #F4F4F4;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

}

.postsection-community-rule-note {
  font-family: Noto Sans Devanagari;
  font-weight: 700;
  font-style: Bold;
  font-size: 12px;
  line-height: 19.5px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #7B899D;
}

.postsection-comment-reply-button {
  font-family: Noto Sans Devanagari;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  color: #1D2530;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

}